<%= form_for @search do |f| %>
  <table class=mytable>
    <tr>
      <td>
        <%= f.label "Az. amtl" %>
      </td>
      <td>
        <%= f.text_field :amtlaktenzeichen_contains%>
      </td>
      <td>
        <%= f.label "Az. Kunde" %>
      </td>
      <td>
        <%= f.text_field :ihrzeichen_contains%>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label "Az. ips" %>
      </td>
      <td>
        <%= f.text_field :internaktenzeichen_contains%>
      </td>
      <td>
        <%= f.label "Titel" %>
      </td>
      <td>
        <%= f.text_field :titel_contains%>
      </td>
    </tr>
    <tr>
       <td>
        <%= f.label "Anmelder" %>
      </td>
        <td>
        <%= f.text_field "submitters_name_contains" %>
      </td>
       <td>
        <%= f.label "Erfinder" %>
      </td>
        <td>
        <%= f.text_field "inventors_name_contains" %>
      </td>
    </tr>
    <tr>
     <td>
        <%= f.label "Status" %>
      </td>
      <td>
        <%= f.select(  :status_eq,{"aktiv" => "1", "Anfrage" => "2","1.Erinnerung"=>"3","2.Erinnerung"=>"4","Rechnung gestellt"=>"5","Jahresgebühr zu veranlassen"=>"6","inaktiv"=>7},{:include_blank=>true }) %>
      </td>
      <td>
        <%= f.label "Anmeldedatum" %>
      </td>
      <td>
        <%= f.select(  :anmeldedatum_month_eq,{"Januar" => 1, "Februar" => 2,"März"=>3,"April"=>4,"Mai"=>5,"Juni"=>6,"Juli"=>7,"August"=>8,"September"=>9,"Dezember"=>10,"November"=>11,"Dezember"=>12},{:include_blank=>true })%>
      </td>

    </tr>
  </table>
  <br />
  <%= f.submit "Suchen" %>
  <%= link_to 'Drucken', :action=>"pdf_table",:patents=>@patents_print,:format=>:pdf%>
  <br />
  <br />
<% end %>
<%= will_paginate @patents %>
<table class=mytable >
  <tr>
  </tr>
  <tr>
    <th><%= sort_link @search, :internaktenzeichen,"Az. ips"%></th> 
    <th><%=  sort_link @search, :amtlaktenzeichen,"Az. amtl" %></th> 
    <th><%= sort_link @search, :ihrzeichen,"Az. Kunde" %></th>
    <th><%= sort_link @search, :anmeldedatum,"Anmeldedatum"%></th>
    <th><%= sort_link @search, :anmeldedatum_month,"Fälligkeit" %></th>
    <th><%= sort_link @search, :submitter_names,"Anmelder" %></th>
    <th><%= sort_link @search, :titel,"Titel der Anmeldung" %></th>
    <th><%= sort_link @search, :inventor_names,"Erfinder" %></th>
    <th><%= sort_link @search, :status,"Zustand" %></th>
    <th><%= sort_link @search, :letzte_änderung,"Letzte Änderung" %></th>
    <th><%= sort_link @search, :rechnung_bezahlt,"Rechnung bezahlt?" %></th>
  </tr>
  <%for patent in @patents%> 
    <%if patent.patent_type=="Patent"%>
      <tr valign="top" class=<%=patent.status_in_color%> onClick="location.href='<%= patent_path(patent) %>'"> 
      <%else%>
        <tr valign="top" class=<%=patent.status_in_color%> onClick="location.href='<%= petty_patent_path(patent.id) %>'"> 
        <%end%>
        <td><%=h patent.internaktenzeichen %></td> 
        <td><%= h(patent.amtlaktenzeichen)%></td>
        <td><%= h(patent.ihrzeichen)%></td>
        <td><%= date(patent.anmeldedatum)%></td>
      <td><%= date(patent.gebührenfälligkeit)%></td>
      <td><%= h(patent.submitter_names)%></td>
      <td><%= h(patent.titel)%></td>
      <td><%= h(patent.inventor_names)%></td>
      <td><%=h (patent.status_in_string)%></td>
      <td><%=date (patent.letzte_änderung) unless patent.letzte_änderung.blank?%></td>
      <td><%=h patent.rechnung_bezahlt%></td>
    </tr>
  <% end %>
</table>

