<%@page_title="Patent anzeigen"%>

<div id="auswahlmenu">
  <b>Bearbeiten</b>
  <br />
  <li>
  <%= link_to 'Edit', edit_patent_path(@patent) %> 
  </li>
  <li>
  <%= link_to 'Löschen', @patent, :confirm => 'Wirklich löschen?', :method => :delete %>
  </li>
  <li>
  <%= link_to 'Zurück', patents_path %> 
  </li>
  <b>Drucken</b>
  <br />
  <%if @patent.nationalität=="Europa"%>
    <li>
    <%= link_to 'Überwachungsanfrage', :action=>"pdf_anfrage_eu", :id=>@patent ,:format=>:pdf%>
    </li>
    <li>
    <%= link_to '1. Erinnerung', :action=>"pdf_erinnerung1_eu", :id=>@patent  ,:format=>:pdf%>
    </li>
    <li>
    <%= link_to '2. Erinnerung', :action=>"pdf_erinnerung2_eu", :id=>@patent  ,:format=>:pdf%>
    </li>
  <%end%>
  <%if @patent.nationalität=="Deutschland"%>
    <li>
    <%= link_to 'Überwachungsanfrage', :action=>"pdf_anfrage_de", :id=>@patent  ,:format=>:pdf%>
    </li>
    <li>
    <%= link_to '1. Erinnerung', :action=>"pdf_erinnerung1_de", :id=>@patent  ,:format=>:pdf%>
    </li>
    <li>
    <%= link_to '2. Erinnerung', :action=>"pdf_erinnerung2_de", :id=>@patent  ,:format=>:pdf%>
    </li>
  <%end%>
  <li>
  <%= link_to 'Übersicht drucken',patent_path(@patent,:format=>:pdf) %>
  </li>
  <b>Erweitert</b>
  <br/>
  <li>
  <%= link_to 'Anmelderanteile' ,editsubmissions_patents_path(:id=>@patent.id)%>
  </li>
  <li>
  <%= link_to 'Rechnungen', new_bill_path (:patent=>@patent.id) %>
  </li>
  <li>
  <%= link_to 'Protokolleinträge', new_patent_protocol_path (:patent=>@patent.id) %>
  </li>
</div>

<%=render :partial=>"/partials/patent_show.html.erb"%>

