<%title "Personen"%>
<%= form_for @search do |f| %>
  <table class=mytable>
    <tr>
      <td>
        <%= f.label "Name" %>
      </td>
      <td>
        <%= f.text_field :name_contains%>
      </td>
      <td>
        <%= f.label "Email" %>
      </td>
      <td>
        <%= f.text_field :email_contains%>
      </td>
    </tr>
  </table>
  <p class="button"><%= f.submit "Search" %></p>
<% end %>

<%= will_paginate @users%>
<table class=mytable>
  <tr>
    <th><%=sort_link @search, :name, "Name"%></th>
    <th><%=sort_link @search, :email, "Email"%></th>
    <th></th>
    <th></th>
  </tr>
<% for user in @users %>
  <tr>
    <td><%= link_to user.name, user%></td>
    <td><%= h  user.email%></td>
    <td><%= link_to 'editieren', user %></td>
    <td><%= link_to 'löschen', user, :confirm => 'Wirklich löschen?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Person hinzufügen', new_user_path %>
