<%title "Rechnungen"%>
<%= form_for @search do |f| %>
  <table class=mytable>
    <tr>
      <td>
        <%= f.label "Datum" %>
      </td>
      <td>
        <%= f.text_field :datum_eq%>
      </td>
      <td>
        <%= f.label "Rechnungsnummer" %>
      </td>
      <td>
        <%= f.text_field :rechnungsnummer_contains%>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label "Patent" %>
      </td>
      <td>
        <%= f.text_field :with_patents_by_intern%>
      </td>
    </tr>
  </table>
 <p class="button"><%= f.submit "Search" %></p>
<% end %>


<%= will_paginate @bills%>
<table class=mytable>
  <tr>
<th><%= sort_link @search, :datum,"Datum"%></th> 
<th><%= sort_link @search, :datum,"Patent"%></th> 
<th><%= sort_link @search, :rechnungsnummer,"Rechnungsnummer"%></th> 
  </tr>

<% @bills.each do |bill| %>
  <tr valign="top" onClick="location.href='<%= new_bill_path(:patent=>bill.patent_id) %>'"> 
    <td><%=date bill.datum %></td>
    <td><%= bill.patent.internaktenzeichen unless bill.patent.nil?%></td>
    <td><%=h bill.rechnungsnummer %></td>
  </tr>
<% end %>
</table>

<br />

