<%= form_for(fee) do |f| %>
  <%= f.error_messages %>
  <p>
  <u><b><%= h  fee.country %></b></u>
  </p>
  <table class="mytable">
    <tr>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
    </tr>
    <tr>
      <td><%=f.text_field :year_1,:size=>5%></td>
      <td><%=f.text_field :year_2,:size=>5%></td>
      <td><%=f.text_field :year_3,:size=>5%></td>
      <td><%=f.text_field :year_4,:size=>5%></td>
      <td><%=f.text_field :year_5,:size=>5%></td>
      <td><%=f.text_field :year_6,:size=>5%></td>
      <td><%=f.text_field :year_7,:size=>5%></td>
      <td><%=f.text_field :year_8,:size=>5%></td>
      <td><%=f.text_field :year_9,:size=>5%></td>
      <td><%=f.text_field :year_10,:size=>5%></td>
    </tr>
    <tr>
      <th>11</th>
      <th>12</th>
      <th>13</th>
      <th>14</th>
      <th>15</th>
      <th>16</th>
      <th>17</th>
      <th>18</th>
      <th>19</th>
      <th>20</th>
    </tr>
    <tr>
      <td><%=f.text_field :year_11,:size=>5%></td>
      <td><%=f.text_field :year_12,:size=>5%></td>
      <td><%=f.text_field :year_13,:size=>5%></td>
      <td><%=f.text_field :year_14,:size=>5%></td>
      <td><%=f.text_field :year_15,:size=>5%></td>
      <td><%=f.text_field :year_16,:size=>5%></td>
      <td><%=f.text_field :year_17,:size=>5%></td>
      <td><%=f.text_field :year_18,:size=>5%></td>
      <td><%=f.text_field :year_19,:size=>5%></td>
      <td><%=f.text_field :year_20,:size=>5%></td>
    </tr>
  </table>

  <%= button_to'Löschen', fee, :confirm => 'Wirklich löschen?', :method => :delete %>
  <%= link_to"editieren", edit_fee_path(fee)%>
    <br/>
<% end %>

