<%title "Transaktionen"%>
<%= form_for @search do |f| %>
  <table class=mytable>
    <tr>
      <td>
        <%= f.label "Datum" %>
      </td>
      <td>
        <%= f.text_field :time_eq%>
      </td>
      <td>
        <%= f.label "Az. ips" %>
      </td>
      <td>
        <%= f.text_field :patent_internaktenzeichen_contains%>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.label "Az. amtl" %>
      </td>
      <td>
        <%= f.text_field :patent_amtlaktenzeichen_contains%>
      </td>
      <td>
        <%= f.label "Transaktion" %>
      </td>
      <td>
        <%= f.text_field :comment_contains%>
      </td>
    </tr>
  </table>

 <p class="button"><%= f.submit "Search" %></p>
<% end %>
<%= will_paginate @patent_protocols %>
<table class=mytable>
  <tr>
    <th><%=sort_link @search,:time, "Datum"%></th>
    <th><%=sort_link @search,:time, "Patent"%></th>
    <th><%=sort_link @search,:time, "Titel der Anmeldung"%></th>
    <th><%=sort_link @search,:comment, "Transaktion"%></th>
  </tr>

  <% @patent_protocols.each do |patent_protocol| %>
    <tr valign="top"  onClick="location.href='<%= new_patent_protocol_path(:patent=>patent_protocol.patent_id) %>'"> 
      <td><%=date patent_protocol.time %></td>
      <td><%=Patent.find(patent_protocol.patent_id).internaktenzeichen %></td>
      <td><%=truncate (Patent.find(patent_protocol.patent_id).titel,:length=>80)%>
        <td><%=h patent_protocol.comment%></td>

        </tr>
      <% end %>
    </table>

    <br />

